<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @home.name %>
</p>

<p>
  <b>Bathrooms:</b>
  <%= @home.bathrooms %>
</p>

<p>
  <b>Bedrooms:</b>
  <%= @home.bedrooms %>
</p>

<p>
  <b>Car parks:</b>
  <%= @home.car_parks %>
</p>


<%= link_to 'Edit', edit_home_path(@home) %> |
<%= link_to 'Back', homes_path %>
